/target
/lib
/classes
/checkouts
resources/build
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
*.db

*.swp
/tags
\#*\#
.\#*
*_archive
.sass-cache

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.aux
*.rej
*.swo
*.swp
*.vi
*~
# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

!.gitkeep
